<!-- app/templates/about.html -->
{% extends 'layout.html' %}

{% block title %}About | My Portfolio{% endblock %}

{% block content %}
    <h1>About Me</h1>
    <p>Here is some information about me.</p>
    <p>DONGU is a self-taught artist born in Sardinia, Italy in 1994.
    His style is a mix of cartoonist and realistic elements, often featuring surreal and psychedelic objects.
    Influenced by early 2000s space and psychedelic art, DONGU began exploring NFTs and digital art in 2020.</p>

      <!-- Add Links to Your Websites or Artworks -->
    <div class="links">
        <h2>Find My Work Here</h2>
        <ul>
            <li><a href="https://linktr.ee/goodkidd0" target="_blank">My Cool Links</a></li>
        </ul>
    </div>


{% endblock %}
